.btn {
	font-family: $heading-font;
	display: inline-block;
	padding: $button-vertical-padding $button-horizontal-padding;
	border-radius: $global-border-radius;
	text-decoration: none;
	cursor: pointer;
	&--primary {
		background-color: $primary-color;
		color: white;
	}
	&--light {
		background-color: $light-gray;
		color: $dark-gray;
	}
	&--dark {
		background-color: $dark-gray;
		color: white;
	}
	&--align-right {
		margin-left: auto;
	}
	&--align-left {
		margin-right: auto;
	}
	&--large {
		padding: #{$button-vertical-padding * 2} #{$button-horizontal-padding * 2};
	}
	&--small {
		padding: #{$button-vertical-padding * 0.5} #{$button-horizontal-padding * 0.5};
	}
	&:hover {
		opacity: 0.85;
	}
}
