/*--------------------------------------------------------------
# Icons
--------------------------------------------------------------*/

.icon {
	display: inline-block;
	width: 36px;
	height: 36px;
	background-color: $primary-color;
	border-radius: 1000px;
    position: relative;
    vertical-align: middle;
    margin-right: .5rem;
	img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
	}
}
