/*------------------------------------*\
    Input fields
\*------------------------------------*/

.form-control {
    display: block;
    width: 100%;
    padding: .8rem 1rem !important;
    font-size: 14px;
    line-height: 1.42857143;
    color: #8E8E8E;
    background-color: #fff;
    background-image: none;
    border: 1px solid rgba(#6E6E6E, .5);
    border-radius: $global-border-radius;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    outline: none;
    font-weight: bold;
    &:hover, &:focus{
        border-color: $primary-color;
    }
}

/*------------------------------------*\
    Floating labels
\*------------------------------------*/

.has-float-label {
	display: block;
    position: relative;
    outline: none;
}

.has-float-label label,
.has-float-label > span {
	position: absolute;
	left: 0;
	top: 0;
	cursor: text;
	opacity: 1;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	top: -0.5em;
	left: 0.75rem;
	z-index: 3;
	line-height: 1;
	padding: 0 1px;
    font-size: .75rem;
    color: #8E8E8E;

	&.input-group-append {
		right: 0.75rem;
		left: auto;
		background-color: #e9ecef;
		border: 1px solid #ced4da;
		border-radius: 0.25rem;
		padding: 0 3px;
		&::after {
			display: none !important;
		}
	}
}

.has-float-label label::after,
.has-float-label > span::after {
	content: " ";
	display: block;
	position: absolute;
	background: #edf7fe;
	height: 2px;
	top: 50%;
	left: -0.3em;
	right: -0.3em;
	z-index: -1;
}

.has-float-label .form-control::-webkit-input-placeholder {
	opacity: 0;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.has-float-label .form-control::-moz-placeholder {
	opacity: 0;
	transition: all 0.2s;
}

.has-float-label .form-control:-ms-input-placeholder {
	opacity: 0;
	transition: all 0.2s;
}

.has-float-label .form-control::placeholder {
	opacity: 0;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.has-float-label
	.form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
	opacity: 0;
}

.has-float-label .form-control:placeholder-shown:not(:focus)::-moz-placeholder {
	opacity: 0;
}

.has-float-label
	.form-control:placeholder-shown:not(:focus):-ms-input-placeholder {
	opacity: 0;
}

.has-float-label .form-control:placeholder-shown:not(:focus)::placeholder {
	opacity: 0;
}

.has-float-label .form-control:placeholder-shown:not(:focus) + * {
	font-size: 100%;
	opacity: 0.5;
	top: 1rem;
}

.input-group .has-float-label {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	margin-bottom: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.input-group .has-float-label .form-control {
	width: 100%;
	border-radius: 0.25rem;
}

.input-group .has-float-label:not(:last-child),
.input-group .has-float-label:not(:last-child) .form-control {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border-right: 0;
}

.input-group .has-float-label:not(:first-child),
.input-group .has-float-label:not(:first-child) .form-control {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.form-control:focus {
	box-shadow: none;
}