/*--------------------------------------------------------------
# Component - Section (Coloring, spacing, alignment)
--------------------------------------------------------------*/

.section-bg {
	&--light {
		background-color: $lighter-gray;
	}
	&--dark {
        background-color: $dark-gray;
        color: white;
	}
	&--primary {
        background-color: $primary-color;
        color: white;
	}
}

.section-padding {
	padding: 5.25rem 0 6.25rem;
}
