/**
 * modules/fonts
 * ---
 * Declare fonts here
 */

 @font-face {
  font-family: 'Poppins';
  src: url('./../fonts/Poppins-Regular.eot');
  src: url('./../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
      url('./../fonts/Poppins-Regular.woff2') format('woff2'),
      url('./../fonts/Poppins-Regular.woff') format('woff'),
      url('./../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./../fonts/Poppins-SemiBold.eot');
  src: url('./../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('./../fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('./../fonts/Poppins-SemiBold.woff') format('woff'),
      url('./../fonts/Poppins-SemiBold.svg#Poppins-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./../fonts/Poppins-Bold.eot');
  src: url('./../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
      url('./../fonts/Poppins-Bold.woff2') format('woff2'),
      url('./../fonts/Poppins-Bold.woff') format('woff'),
      url('./../fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./../fonts/OpenSans-Regular.eot');
  src: url('./../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('./../fonts/OpenSans-Regular.woff2') format('woff2'),
      url('./../fonts/OpenSans-Regular.woff') format('woff'),
      url('./../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
