body,
button,
input,
select,
optgroup,
textarea {
	color: $text-color;
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

html, body {
	width: 100%;
	overflow-x: hidden;
}
