/*--------------------------------------------------------------
# Simple Flex Grid
--------------------------------------------------------------*/

.flex-grid {
	display: flex;
	justify-content: space-between;
}

.col {
	flex: 1;
	margin: 0 1rem 1rem 0;
}

.col:last-child {
	margin: 0 0 1rem 0;
}

@media (max-width: 578px) {
	.flex-grid {
		display: block;
	}
}
