// =============================================================================
// SETTINGS / #TYPOGRAPHY
// =============================================================================

// Our brand and project font-sizes and line-heights are held in maps.
// Access these using `@include font()`

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-font;
	margin: 0;
	padding: 1rem 0;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.25rem;
}

blockquote {
    margin: 0;
	border-left: 5px solid $primary-color;
	padding-left: 1rem;
}
