/* Alignment
--------------------------------------------- */

.text {
	&-center {
		text-align: center;
	}
	&-left {
		text-align: left;
	}
	&-right {
		text-align: right;
	}
}

/* Display
--------------------------------------------- */

.d {
	&-block {
		display: block;
	}
	&-flex {
		display: flex;
	}
	&-inline-block {
		display: inline-block;
	}
}

/* Font Weight
--------------------------------------------- */
.fw {
	&-400 {
		font-weight: 400;
	}

	&-700 {
		font-weight: 700;
	}

	&-900 {
		font-weight: 900;
	}
}

/* Float
--------------------------------------------- */

.float {
	&-left{
		float: left;
	}
	&-right{
		float: right;
	}
}
