/**
 * modules/variables
 * ---
 */

/**
 * Typography
 */

$body-font: "Open Sans";
$heading-font: "Poppins";

$font-family-base: $body-font;
$font-size-base: 1rem;
$line-height-base: 1.5;

/**
  * Colors
  */

$text-color: #424242;
$body-bg: #f6f5f2;
$selection-bg: #04a4cc;

$primary-color: #30a8dc;
$secondary-color: #252525;

$lighter-gray: #F6F5F2;
$light-gray: #c4c4c4;
$dark-gray: #252525;

/**
  * Grid
  */

$wrapper-width: 978px;

$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;

.wrapper {
	max-width: $wrapper-width;
	padding: 0 $margin-horizontal-large;
	margin: 0 auto;
	position: relative;
}

/**
  * Utility
  */

$global-border-radius: 5px;

$button-vertical-padding: 8px;
$button-horizontal-padding: 16px;
