.carousel-slider {
	.carousel-slider__title {
		text-align: center;
		padding: 3.25rem 0;
	}
}

.carousel-slider__item {
	box-shadow: 0 0 4px rgba(#515151, 1);
	position: relative;
	&:hover{
		box-shadow: 0 0 4px rgba($primary-color, 1);
	}
}

.carousel-slider__image {
	width: 100%;
}

.carousel-slider__item-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.carousel-slider__item-content {
	padding: 1rem;
}

.carousel-slider__item-title {
	h3 {
        font-size: 0.875rem;
        padding: 0;
        margin-bottom: .5rem;
	}
}

.carousel-slider__item-excerpt {
	p {
        font-size: 0.75rem;
        margin: 0;
	}
}

.slick-list {
	padding: 28px 0px 28px 3px !important;
}

.slick-slide {
	margin-right: 28px;
	width: 295px;
}
