/*--------------------------------------------------------------
# Partial - Contact Form
--------------------------------------------------------------*/

.contact-form__title {
	font-size: 1.25rem;
}

.contact-form__sales-group-image {
	border-radius: 1000px;
}

.contact-form__sales-group-title {
	padding-bottom: 0;
}

.contact-form__sales-group-divider {
	max-width: 130px;
	border-top: 0.5px dashed $dark-gray;
	background-color: transparent;
	margin: 0.5rem auto;
}

.contact-form__sales-group-phone {
	font-family: $heading-font;
}
