.site-footer {
	background-color: $dark-gray;
	padding: 3rem 0;
	font-size: 0.8rem;
}

.site-footer__widget {
	text-align: center;
	color: white;
	p {
		margin-bottom: 0;
	}
	a {
		display: inline-block;
		color: white;
		text-decoration: none;
		&:hover {
			color: $primary-color;
		}
	}
}

.site-footer-menu {
	padding: 0;
	margin: 0;
	list-style: none;
	li {
		display: inline-block;
		a {
			text-decoration: none;
		}
	}
}

.site-footer__social-items {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.site-footer__social-item {
	display: inline-block;
	margin-right: 5px;
}

.site-footer__social-link {
	i {
		color: white;
		font-size: 1.5rem;
	}
	&:hover {
		i {
			opacity: 0.85;
		}
	}
}
