.site-header {
	background-color: $secondary-color;
	height: 60px;
	position: fixed;
	top: auto;
	left: auto;
	z-index: 4;
	width: 100%;
	.wrapper {
		display: flex;
		height: 100%;
		align-items: center;

	}
	@media screen and (max-width: 578px) {
		.wrapper{
			padding: 0;
		}
	}
}

.site-branding {
	flex: 0 0 200px;
}

.hero-banner {
	position: relative;
	min-height: 768px;
	background-size: cover;
	background-position: 50%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
	&::after {
		background-color: rgba($dark-gray, 0.35);
		content: "";
		display: block;
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
        left: 0;
        z-index: 2;
	}
}

.hero-banner__widget {
    color: #fff;
    text-align: center;
    z-index: 3;
    p{
        font-size: 1.5rem;
    }
}
