.menu-item {
	padding: $button-vertical-padding $button-horizontal-padding;
	a {
        color: white;
		font-family: $heading-font;
		font-weight: normal;
		&:hover{
			opacity: .85;
		}
	}
	&:last-child{
		margin-left: 10px;
	}
}
