.press-release__item {
	position: relative;
	border-bottom: 1px dashed $secondary-color;
	padding-bottom: 2rem;
    margin-bottom: 1.25rem;
    
	&:hover {
        border-bottom: 1px dashed $primary-color;
        border-left: 20px solid $primary-color;
        padding-left: 20px;
        .press_release__item-link{
            background-color: $primary-color!important;
        }
	}
}

.press_release__item-link {
	position: absolute;
	bottom: -1px;
	right: 0;
	border-radius: 0 !important;
}

.press-release__item-date{
    font-family: $heading-font;
    color: rgba($text-color, .7);
}

.press-release__item-title {
	padding-top: 0;
}
