.tab-link {
	background-color: #c4c4c4;
	padding: 1rem;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: $text-color;
    &.tab-active{
        .tab-link__image {
            background-color: $primary-color;
        }
    }
}

.tab-link__image {
    padding: 12px;
    height: 80px;
    width: 80px;
    background-color: #c4c4c4;
    border-radius: 1000px;
	position: absolute;
	top: -42px;
	left: 50%;
	transform: translateX(-50%);
}
